.body{
    background-color: rgb(196, 196, 196);
    border: 3px solid rgb(58, 171, 247);
    margin: 0;
}
.flex-container {
    display: flex;
    background-color: rgba(30, 143, 255, 0);
    flex-wrap: nowrap;
    justify-content:space-evenly; 
    align-items: flex-end;
    padding-top: 5%;
}
.holder {
flex: 0;
margin: 1%;
border-radius: 50%;
text-align: center;
color: aliceblue;
}
.holder:before {
content: "Project";
display: inline-block;
font-size: 20px;
padding-bottom: 10%;
}

.flex-container > div {
background-color: rgb(2, 0, 0);
margin: 10px;
padding: 20px;
font-size: 20px;
}
.mywork{
    font-size: 20px;
    text-align: center;
}
.banner{
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: auto; 
    height: auto; 
    font-size: 20px;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 45%;
}
.hr {
    height: 3px;
    background-color:rgb(82, 82, 82);
    opacity: 0.5;
}
.flex-horizontal-center{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
    text-align: center; 
    align-items: center; 
}
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: inherit;
}
.navitem {
    float: left;
}

.nav-a {
    display: block;
    color: inherit;
    text-align: center;
    padding: 34px 66px;
    text-decoration: none;
    font-size: 20px;
}
.nav-a:hover:not(.active) {
    background-color: white;
}
.btn {
    background-color: #e7e7e7;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn:hover {
    background-color: black;
    color: white;
}
.dark-mode {
    background-color: black;
    color: white;
}